

body {
    background-color: beige;
}





img {
    display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
    text-align: center;
    font-family: fantasy;
    color: brown;
    background-color: #ffa443;
    
}





.pregunta {
    text-align: center;
    color: black;
    background-color: #ffa443;

}

.ahoraya {
    text-align: center;
}

p {
    text-align: center;
}


.compra {

    text-align: center;
    font-family: fantasy;

}

.contacto
{
    text-align: center;
}



.pie-pagina{
    width: 100%;
    background-color: #251203;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
      width: 250px;
}

.pie-pagina .grupo-1 .box h2{

    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-pagina .grupo-1 .box{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color:#0d1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}


.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;

    }

    
}



.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: orange;
	padding: 200px 98px;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}





.inicio-sesion {
    width: 400px;
    height:520px;
    background: #ffa443;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color: brown;
  }
  
  .inicio-sesion h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: brown;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .inicio-sesion p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .inicio-sesion a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .inicio-sesion a:hover {
    text-decoration: underline;
  }
  
  
  
  