{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar album</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

   <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
  
      
      
        <!-- Left links -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vinilos' %}">Vinilos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cds' %}">CD's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accesorios' %}">Accesorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cassetes' %}">Cassetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'inicio' %}">Login</a>
      </li>
    </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        
      </div>
      <!-- Right elements -->
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
  <br>
  <br>
  <section  class="titulo">
    <h1>Agregar album</h1>
</section>
    <img src="{% static 'img/django.png' %}" alt="django">
    <br>
    <button type="button">
        <a href="{% url 'albumsAdd' %}">Agregar</a>
    </button>
    <br>

    <div id="id_mensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif%}
    </div>
    <br>
    <table>
        {% if album%}
        <th>titulo<th>
        <th>lanzamiento<th>
        <th>cantidad_canciones<th>
        <th>tracklist<th>
        <th>duracion<th>
        <th>notas<th>
        <th>disponibilidad<th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for tmp in albums %}
                <tr>
                    <td>{{tmp.titulo}}</td>
                    <td>{{tmp.lanzamiento}}</td>
                    <td>{{tmp.cantidad_canciones}}</td>
                    <td>{{tmp.tracklist}}</td>
                    <td>{{tmp.duracion}}</td>
                    <td>{{tmp.notas}}</td>
                    <td>{{tmp.disponibilidad}}</td>
                    <td><a href="{% url 'album_del' pk=tmp.id_album %}">Eliminar</a></td>
                    <td><a href="{% url 'album_findEdit' pk=tmp.id_album %}">Modificar</a></td>
                </tr>
            {% endfor%}
        {% endif%}
    </table>
    <br>
    <a href="{% url 'genero'%}">lista generos</a>
</body>
</html>


