<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géneros</title>
</head>
<body>
    <h3>Lista de Géneros {{usu}}</h3>
    
    <button type="button">
        <a href="{% url 'generoAdd' %}">Agregar</a>
    </button>
    <br>

    <div id="id_mensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif%}
    </div>
    <br>
    <table>
        {% if generos %}
           
            <th>Género</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for tmp in generos %}
                <tr>
                    <td>{{tmp.genero}}</td>
                    <td><a href="{% url 'generos_del' pk=tmp.id_genero %}">Eliminar</a></td>
                    <td><a href="{% url 'generos_edit' pk=tmp.id_genero %}">Modificar</a></td>
                </tr>
            {% endfor%}
        {% endif%}
    </table>
    <br>
    <a href="{% url 'index'%}">Volver</a>
</body>
</html>